*{
    margin: 0;
    padding: o;
    text-decoration: none;

}





body{
    background-image: url(background\ copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250vh;
    
    
    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

body{
    background-color: white;

}



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 97.3%;
    margin-top: 150px;
  }





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    color: white;
    transition: all o.4s ease 0s;
}

.navbar-nav li > a{
    color: white
  }
  .navbar-nav li > a:hover{
    color: greenyellow;
  }
  
  .navbar-nav li > a:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: greenyellow;
      transition: width .3s;
  }
  .navbar-nav li > a:hover::after {
      width: 100%;
      transition: width .3s;
  }

.grid-container {
    display: grid;
    gap: 20px;
    margin: 150px;
    margin-top: 90px;
    color: white;
    left: 200px;
    height: 500px;
    align-items: baseline;
}

.grid-item {
    text-align: center;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.content {
    text-align: center;
    position: absolute;
    top: 20%;

}

.content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: white;

}

.content p{
    margin: 100px;
    line-height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


  
 

  .im{
    float: left;
  }


.content2 {
    text-align: center;
   
    

}

.content2 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: black;

}


  
  .animal-box {
    flex: 1;
    margin: 20px;
    color: black;
  }
  
  .animal {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  
  .animal img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .image-container {
    position: relative;
    width: 800px; 
    height: 350px; 
    overflow: hidden;
    
  }
  
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
  }
  
  
  .image-container:hover img {
    transform: scale(1.2); 
  }
  

  .editim{
    margin-top: 650px;
    margin-left: 350px;
  }
  
  .logo img {
    width: 130px; 
    height: auto;
    margin-right: 20px; 

  }