*{
    margin: 0;
    padding: 0;
}

.hea{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
